
   .wrapper__links {
     display: flex;
     align-items: center;
     column-gap: 10px;
   }
   
   .social-link--linkedin {
     color: #2d76b0;
   }
   .social-link--github {
     color: #000;
   }
   .social-link--instagram {
     color: #9a2970;
   }
   .social-link--dribbble {
     color: #b53561;
   }
   .social-link .social-svg {
     width: 2.5rem;
     height: 2.5rem;
     cursor: pointer;
   }
   .social-link .social-svg .social-group__icon {
     fill: #2978b5;
     transition: all 0.2s;
   }
   .social-link .social-svg .social-group__inner-circle {
     fill: transparent;
     transition: all 0.2s;
   }
   .social-link .social-svg .social-group__outline {
     stroke: #2978b5;
     transform-origin: 50% 50%;
     transition: all 0.2s;
   }
   .social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
     fill: #fffbfa;
     transition: all 0.45s;
   }
   .social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
     fill: currentColor;
     transition: all 0.45s;
   }
   .social-link .social-svg:hover .social-group__inner-circle--instagram, .social-link .social-svg:active .social-group__inner-circle--instagram, .social-link .social-svg:focus .social-group__inner-circle--instagram {
     fill: url(#simpleInsta) !important;
   }
   .social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
     stroke: currentColor;
     transform: scale(1.1);
     transition: all 0.45s;
   }